<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>ManageBookingServlet</servlet-name>
        <servlet-class>com.RERES.controller.ManageBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>com.RERES.controller.ManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.RERES.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.RERES.controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.RERES.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.RERES.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.RERES.controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingTableServlet</servlet-name>
        <servlet-class>com.RERES.controller.BookingTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderFoodServlet</servlet-name>
        <servlet-class>com.RERES.controller.OrderFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentationServlet</servlet-name>
        <servlet-class>com.RERES.controller.DocumentationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MembershipServlet</servlet-name>
        <servlet-class>com.RERES.controller.MembershipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelpChatServlet</servlet-name>
        <servlet-class>com.RERES.controller.HelpChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageBookingServlet</servlet-name>
        <url-pattern>/ManageBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/ManageUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingTableServlet</servlet-name>
        <url-pattern>/BookingTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderFoodServlet</servlet-name>
        <url-pattern>/OrderFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentationServlet</servlet-name>
        <url-pattern>/DocumentationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MembershipServlet</servlet-name>
        <url-pattern>/MembershipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelpChatServlet</servlet-name>
        <url-pattern>/HelpChatServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
