.table-food-list{
    justify-content:center;
    align-items:center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    
    box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.table-your-order-list{
    justify-content:center;
    align-items:center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 110px;
    
    box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.add-food-row {
    width: 250px;
    padding-left: 100px;
}